body{
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 2em;
}

h1{
	font-size: 37px;
}

h2{
	font-size: 30px;
	color:#111;
	text-align: center;
}

span{
	font-size: 59px;
}

.wrapper{
	display: flex;
}

.btn{
	color:#2e2a1b;
	background: #ffd429;
	border: solid 0px;
	width: 220px;
	text-align: center;
	padding:20px 30px;
	font-family: 'Montserrat', sans-serif;
	font-style: black;
	display: block;
	text-decoration: none;
	transition: all 0.5s ease;
	cursor: pointer;
}

.btn:hover{
	background: #b79306;
}

.header{
	background: rgba(78,189,254,1);
	background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 70px;
}

.ahead{
	padding-top: 100px;
	padding-bottom: 100px;
}

.ticket{
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer{
	background: #164d7a;
	padding-top: 60px;
	padding-bottom: 60px;
}

.conteiner{
	width: 1170px;
	margin: 0 auto;
}

.offer{
	padding-top: 130px;
	width: 5800px;
}

.advantages{
	display:flex;
	justify-content: space-between;
}

.advantage{
	background: url(../img/icon1.png) no-repeat top;
	width: 300px;
	height: 170px;
	color:black;
	padding-top: 60px;
	text-align: center;
	margin-top: 70px;
}

.advantage p{
	font-size:15px;
	line-height: 1.5em;	
}

.bright_travel{
	background: url(../img/icon2.png) no-repeat top;
}

.value{
	background: url(../img/icon3.png) no-repeat top;
}

.ticket{
	background: #ecf3f8;
}

.input{
	display:block;
	width: 320px;
	height: 45px;
	margin: 0 auto;
	margin-bottom: 15px;
	border: solid 1px #bbbbbb;
	padding-left: 23px;
}

.sublime{
	margin: 0 auto;
	width: 348px;
}

.credits{
	text-align: center;
	font-size: 14px;
}

.form{
	margin-top: 60px;
}

/*Responsive*/

/* 992px - 1200px*/
@media screen and (max-width: 1200px) {
	.conteiner{
		width: 960px;
	}
}

/* 768px - 992px*/
@media screen and (max-width: 992px) {
	.conteiner{
		width: 720px;
	}
	.wrapper{
		flex-direction: column;
	}

	.offer{
		width: auto;
		margin: 0 auto;
	}

	.up{
		margin: 0 auto;
		width: auto;
	}
}

/* 576px - 768px*/
@media screen and (max-width: 768px) {
	.conteiner{
		width: 540px;
	}
	.bag{
		display: block;
		width: 95%;
		margin: 0 auto;
	}
	.advantages{
		flex-direction: column;
	}
	.advantage{
		margin: 0 auto;
	}
}

/* 0px - 576px*/
@media screen and (max-width: 576px) {
	.conteiner{
		width: 90%;
	}
	.input{
		width: 90%;
	}
	.sublime{
		width: 100%;
	}
}